<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/styles.css" />
      <script src="/static/jquery-2.1.0.min.js"></script>
    <title>{% block title %}{% endblock %} ᴏɴ ᴜʀsᴀ</title>
    {% endblock %}
</head>
<body>
	<body>

		
    <div id="content">
	    
	    {% block content %}{% endblock %}
    
    </div>
  
	</div>
	</div>
    <div id="footer">
        {% block footer %}
        A hackathon app.
        {% endblock %}
    </div>
</body>