{% extends "base.html" %}

{% block title %}Farm Thingy.{% endblock %}

{% block content %}

<h1>Bin <small>New</small></h1>

<form method="post" role="form" action="/bin/add">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.crop.label }}
        {{ form.crop(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.size.label }}
        {{ form.size(class_='form-control') }}
    </div>
</form>


{% endblock %}