{% extends "base.html" %}

{% block title %}Farm Thingy.{% endblock %}

{% block content %}

<h1>Bin {{ form.name.data }} <small>Edit</small></h1>

<form method="post" role="form" action="/bin/edit/{{ bin_id }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.crop.label }}
        {{ form.crop(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.size.label }}
        {{ form.size(class_='form-control') }}
    </div>
    <button type="submit" value="confirm" class="btn btn-primary">Submit</button>
</form>


{% endblock %}
