{% extends "base.html" %}

{% block title %}Farm Thingy.{% endblock %}

{% block navbar %}
<li><a href="/">Home</a></li>
<li><a href="/fields">Fields</a></li>
<li class="active"><a href="/bins">Bins</a></li>
<li><a href="/market">Market</a></li>
<li><a href="/history">Price History</a></li>
{% endblock %}

{% block content %}

<h1>See yo bins!</h1>

{% for bin in bins %}
    <li><a href="/bin/{{ bin._id }}">{{ bin.name }}</a> - {{ bin.crop }}, {{ bin.size }} tonnes - <a href="/bin/edit/{{ bin._id }}">edit</a></li>
{% endfor %}

<h4><a href="/bin/add">New</a></h4>

{% endblock %}



