{% extends "base.html" %}

{% block title %}FarmSpot - Edit {{form.company.data}}{% endblock %}

{% block content %}

<link href="/static/editable-table/index.css" rel="stylesheet">
<script src="/static/editable-table/mindmup-editabletable.js"></script>
<script src="/static/editable-table/numeric-input-example.js"></script>


<table id="mainTable" class="table table-striped">
    <thead><tr><th>Crop</th><th>Company</th><th>Tonnes</th><th>Fixed</th><th>Price per Tonne</th><th>Contract Value</th></tr></thead>


</table>

<h1>Company {{ form.company.data }} <small>Edit</small></h1>
<form method="post" action="." role="form">
	{{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.crop.label }}
        {{ form.crop(class_='form-control') }}
    </div>
	<div class="form-group">
		{{ form.company.label }}
		{{ form.company(class_='form-control') }}
	</div>
	<div class="form-group">
		{{ form.tonnes.label }}
		{{ form.tonnes(class_='form-control') }}
	</div>
	<div class="form-group">
		{{ form.fixed.label }}
		{{ form.fixed(class_='form-control') }}
	</div>
	<div class="form-group">
		{{ form.price_per_tonne.label }}
		{{ form.price_per_tonne(class_='form-control') }}
	</div>
	<div class="form-group">
		{{ form.contract_value.label }}
		{{ form.contract_value(class_='form-control') }}
	</div>
	<button type="submit" value="confirm" class="btn btn-primary">Submit</button>
</form>
<p><a href='/field/{{ field_id }}'>Go Back</a></p>

{% endblock %}
