{% extends "base.html" %}

{% block title %}New Field{% endblock %}

{% block content %}

<script>$("#nav-contract").addClass("active");</script>

<h1>Contract <small>New</small></h1>

<form method="post" action="/contract/add/" role="form" class="form-horizontal">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.crop.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.crop(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        {{ form.company.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.company(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        {{ form.tonnes.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.tonnes(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        {{ form.fixed.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.fixed(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        {{ form.price_per_tonne.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.price_per_tonne(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        {{ form.contract_value.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.contract_value(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            <button type="submit" value="confirm" class="btn btn-primary" style="float:right">Submit</button>
        </div>
    </div>
    <div class="clearfix"></div>
</form>

{% endblock %}
