{% extends "base.html" %}

{% block title %}FarmSpot - CODE 2014{% endblock %}

{% block navbar %}
<li><a href="/">Home</a></li>
<li><a href="/fields">Fields</a></li>
<li><a href="/market">Market</a></li>
<li class="active"><a href="/contract">Contract</a></li>
<li><a href="/history">Price History</a></li>
{% endblock %}

{% block content %}
<script type="text/javascript">

    var csrftoken = "{{ csrf_token() }}"

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })
    
    function saveTable() {
        console.log($('#mainTable').tableToJSON())
            $.post('/contract/',
                    {rows: JSON.stringify($('#mainTable').tableToJSON())},
                    function(data){alert(data)})
    }
</script>


<link href="/static/editable-table/index.css" rel="stylesheet">
<script src="/static/editable-table/mindmup-editabletable.js"></script>
<script src="/static/editable-table/numeric-input-example.js"></script>

<script src="/static/tableToJson/src/jquery.tabletojson.js"></script>

<!-- Title -->
<h2>Your Contracts</h2>
<p>Use our Cloud Services to keep track of your contracts. This simple spreadsheet can be easily accessed from your office computer or cellular phone!</p>


<!-- Spread Sheet -->
<table id="mainTable" class="table table-striped">
    <thead id="headTable"><tr><th>Crop</th><th>Company</th><th>Tonnes</th><th>Fixed</th><th>Price per Tonne</th><th>Contract Value</th></tr></thead>
    <tbody>
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.crop }}</td>
                <td>{{ contract.company }}</td>
                <td>{{ contract.tonnes }}</td>
                <td>{{ contract.fixed }}</td>
                <td>{{ contract.pricepertonne }}</td>
                <td>{{ contract.value }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<button onclick='saveTable(true)' class='btn btn-primary'>Save</button>


<script>
    $('#mainTable').editableTableWidget();
</script>


{% endblock %}



