{% extends "base.html" %}

{% block title %}FarmSpot - CODE 2014{% endblock %}

{% block navbar %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/fields">Fields</a></li>
<li><a href="/bins">Bins</a></li>
<li><a href="/market">Market</a></li>
<li><a href="/harvests">Harvests</a></li>
<li><a href="/contract">Contract</a></li>
<li><a href="/history">Price History</a></li>
{% endblock %}

{% block content %}

<h1>See yo fields!</h1>

{% for field in fields %}
    <li><a href="/field/{{ field._id }}">{{ field.name}}</a></li>
{% endfor %}
<a href="/field/add">Add a new field</a>
{% endblock %}



