{% extends "base.html" %}

{% block title %}Field{% endblock %}

{% block content %}

<script>$("#nav-fields").addClass("active");</script>

<h1>Field {{field.name}} <small>{% trans %}Details{% endtrans %}</small></h1>
<a href='edit'><h3>{% trans %}Edit{% endtrans %}</h3></a>

<div id="mapview" style="height: 400px;"></div>

<script>
var geo = {{field.geo|safe or []}};

if (geo) {
loadStaticMap(geo);
	
}

</script>
{% if field.section %}
<p>{% trans %}This field contains the following sections{% endtrans %}:</p>
<ul>
    {% for section in field.section %}
    <li><a href="section/{{field.section.index(section)}}">{{ section.name }}</a>
    {% endfor %}
</ul>

<p>{% trans %}and the following crops{% endtrans %}:</p>
<ul>
    {% for crop in crops %}
        <li>{{ crop }}</li>
    {% endfor %}
</ul>
<a href="section/add">{% trans %}Add another section{% endtrans %}</a>
{% else %}
<p>{% trans %}There are no sections{% endtrans %}. <a href="section/add">{% trans %}Add one{% endtrans %}</a></p>
{% endif %}
<form method="post" role="form" onsubmit="return confim('Are you sure you want to delete this field? It cannot be undone.')">
    {{ form.hidden_tag() }}
    <button type="submit" value="confirm" class="btn btn-primary">{% trans %}Delete{% endtrans %}</button>
</form>
{% endblock %}


