{% extends "base.html" %}

{% block title %}Field{% endblock %}

{% block content %}

<h1>Field <small>Details</small></h1>


<div id="mapview" style="height: 400px;"></div>

<script>
var geo = {{field.geo|safe or []}};

if (geo) {
	$( document ).ready(function() {
		// create a map in the "map" div, set the view to a given place and zoom
		var map = L.map('mapview').setView([53, -100], 4);

		// add an OpenStreetMap tile layer
		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);
		
		L.geoJson(geo).addTo(map);
	});
	
	
}

</script>
{% if field.section %}
<p>This field contains the following sections:</p>
<ul>
    {% for section in field.section %}
    <li><a href="section/{{section.name}}">{{ section.name }}</a>
    {% endfor %}
</ul>

<p>and the following crops:</p>
<ul>
    {% for crop in crops %}
        <li>{{ crop }}</li>
    {% endfor %}
</ul>
{% else %}
<p>There are no sections. <a href="section/add">Add one</a></p>
{% endif %}

{% endblock %}


