{% extends "base.html" %}

{% block title %}FarmSpot - CODE 2014{% endblock %}

{% block content %}

<script>$("#nav-fields").addClass("active");</script>

<!-- Title -->
<h2>{% trans %}Your Fields and Bins{% endtrans %}</h2>
<p>{% trans %}Managing your fields and bins has never been easier! Start off by drawing a new field of your own or browse some of the existing fields{% endtrans %}.</p>

<!-- Fields -->
<h3>{% trans %}Fields{% endtrans %}</h3>
<button type="button" class="btn btn-warning btn-sml" onclick="document.location.href = '/field/add';"><span class="glyphicon glyphicon-plus"></span>  {% trans %}Add{% endtrans %}</button>

<div class="clearfix"></div>
{% for field in fields %}
<div class="col-lg-6" style="padding-left:0px;">
    <div class="panel panel-success">
        <div class="panel-heading"><b>{{ field.name }}<button style="float: right; padding: 1px 12px;" class="btn btn-default btn-warning" onclick="document.location.href = '/field/{{field._id}}';">{% trans %}Edit{% endtrans %}</button></b></div>
        <div class="panel-body">
            <p><b>{% trans %}Acres{% endtrans %}:</b> {{ field.size|float|round(2) }}</p>
            <hr />
            <h4>{% trans %}Farmer's Almanac{% endtrans %}</h4>
            <p><b>{% trans %}High{% endtrans %} (2013):</b> {{max_temp.text}} {{max_temp.attrib.units}}</p>
            <p><b>{% trans %}Low{% endtrans %} (2013):</b> {{min_temp.text}} {{min_temp.attrib.units}}</p>
            <p><b>{% trans %}Total Precipitaion{% endtrans %} (2013):</b> {{total_precip.text}} {{total_precip.attrib.units}}</p>
        </div>
    </div>
</div>
{% endfor %}

<div class="clearfix"></div>

<!-- Bins -->
<h3>Bins</h3>
<button type="button" class="btn btn-warning btn-sml" onclick="document.location.href='/bin/add';"><span class="glyphicon glyphicon-plus"></span>  {% trans %}Add{% endtrans %}</button>

<div class="clearfix"></div>
{% for bin in bins %}
<div class="col-lg-6" style="padding-left:0px;">
    <div class="panel panel-success">
        <div class="panel-heading"><b>{{ bin.name }}<button style="float: right; padding: 1px 12px;" class="btn btn-default btn-warning" onclick="document.location.href='/bin/edit/{{ bin._id}}';">{% trans %}Edit{% endtrans %}</button></b></div>
        <div class="panel-body">
            <p><b>{% trans %}Crop{% endtrans %}:</b> {{ bin.crop }}</p>
            <p><b>{% trans %}Size{% endtrans %}:</b> {{ bin.size }}</p>
        </div>
    </div>
</div>
{% endfor %}
<div class="clearfix"></div>

<!-- Harvests -->
<h3>{% trans %}Your Harvests{% endtrans %}</h3>
<button type="button" class="btn btn-warning btn-sml" onclick="document.location.href='/harvest/add';"><span class="glyphicon glyphicon-plus"></span>  {% trans %}Add{% endtrans %}</button>

<div class="clearfix"></div>
{% for harvest in harvests %}
<div class="col-lg-6" style="padding-left:0px;">
    <div class="panel panel-success">
        <div class="panel-heading"><b>{{ harvest.date }}</b></div>
        <div class="panel-body">
            <p><b>{% trans %}Amount{% endtrans %}:</b> {{ harvest.amount }} tonnes</p>
            <p><b>{% trans %}Crop{% endtrans %}:</b> {{ harvest.bin.crop }}</p>
            <p><b>{% trans %}From Field{% endtrans %}:</b> {{ harvest.field.name }}</p>
            <p><b>{% trans %}From Section{% endtrans %}:</b> {{ harvest.field.section[harvest.section_from.i].name }}</p>
            <p><b>{% trans %}To Bin{% endtrans %}:</b> {{ harvest.bin.name }}</p>
        </div>
    </div>
</div>
{% endfor %}

<div class="clearfix"></div>
{% endblock %}
