{% extends "base.html" %}

{% block title %}Farm Thingy.{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

<h1>Your Harvests</h1>

<ul>
    {% for harvest in harvests %}
    <li>
        {{ harvest.date }} - {{ harvest.amount }} tonnes of {{ harvest.bin.crop }} from field {{ harvest.field.name }}, section {{ harvest.field.section[harvest.section_from.i].name }} to bin {{ harvest.bin.name }}
    </li>
    {% endfor %}
</ul>

<h4><a href="/harvest/add">New</a></h4> 

{% endblock %}



