{% extends "base.html" %}

{% block title %}New Harvest{% endblock %}

{% block content %}
<h1>Harvest <small>New</small></h1>

<form method="post" role="form" class="form-horizontal">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.date.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.date(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        {{ form.section_from.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.section_from(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        {{ form.amount.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.amount(class_='form-control') }}
        </div>
    </div>
    <button type="submit" value="confirm" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
