{% extends "base.html" %}

{% block title %}New Harvest{% endblock %}

{% block content %}
<h1>Harvest <small>New</small></h1>

<form method="post" role="form" class="form-horizontal">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.date.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.date(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        {{ form.section_from.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.section_from(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        {{ form.amount.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.amount(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        {{ form.bin_to.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.bin_to(class_='form-control') }}
        </div>
    </div>
    <button type="submit" value="confirm" class="btn btn-primary">Submit</button>
</form>

<script type=text/javascript>
    $(function () {
        var submit_form = function (e) {
            $.getJSON($SCRIPT_ROOT + '/harvest/inc', {
                value: $('#section_from').val()
            }, function (data) {
                $("#bin_to").children().remove();
                data.forEach(function (entry) {
                    $('#bin_to').append('<option value="' + entry['_id'] + '">' + entry['name'] + '</option')
                });
            });
            return false;
        };

        $('#section_from').bind('change', submit_form);

    });
</script>



{% endblock %}