{% extends "base.html" %}

{% block title %}FarmSpot - CODE 2014{% endblock %}

{% block content %}

<script>$("#nav-history").addClass("active");</script>

<h2>Price History</h2>
<p>Select a province and commodity to see historical prices.</p>

<!-- Search Dropdown -->
<div class="dropdown">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dd1">
        <span class="glyphicon glyphicon-search"></span>
		<span id="current_crop">
			Rye
		</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for crop_type in crop_types %}
        <li><a href="#" onclick="window.crop = '{{ crop_type.gov_label }}'; $('#current_crop').html('{{ crop_type.label }}'); reload();">{{ crop_type.label }}</a></li>
        {% endfor %}
    </ul>
</div>
	<!-- Search Dropdown -->
	<div class="dropdown">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dd2">
	        <span class="glyphicon glyphicon-search"></span>
			<span id="current_province">Alberta
			</span>
	        <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	        {% for province in provinces %}
	        <li><a href="#" onclick="window.province = '{{ province }}'; $('#current_province').html('{{ province}}'); reload();">{{ province }}</a></li>
	        {% endfor %}
	    </ul>
	</div>

<div id="chart"></div>
<script src="/static/graphs.js" type="text/javascript"></script>

{% endblock %}



