{% extends "base.html" %}

{% block title %}FarmSpot - CODE 2014{% endblock %}

{% block content %}
<img class="banner" src="/static/field.jpg"/>
<br /><br/>
<h2>{% trans %}Track profitability, monitor field rainfall, connect through the Marketplace, and so much more... {% endtrans %}</h2>

<br />

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="holder.js/300x200">
            <div class="caption">
                <h3>Manage</h3>
                <p>FarmSpot helps you manage your produce and contracts from anywhere. Stay informed on rainfall in your area. View the current and expected market prices locally and abroad.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="holder.js/300x200">
            <div class="caption">
                <h3>Marketplace</h3>
                <p>Sell your produce or browse for what you need. Our marketplace is easily filterable by crop type and location to help you find what you need, or to check out your competitors.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="holder.js/300x200">
            <div class="caption">
                <h3>Analytics</h3>
                <p>Using government open data, view past market prices on the various crops, be informed on present market prices, and use our extrapolation services to predict what to expect in the future!</p>
            </div>
        </div>
    </div>
</div>

<br />

<p>FarmSpot is a cloud service like no other. Using live data, geolocation services, and open federal data, the sky is the limit. You can use easily manage your farm operations on the field or at the office using our mobile-friendly implementations, or connect with farmers and brokers through the intuitive marketplace.</p>

{% endblock %}



