{% extends "base.html" %}

{% block title %}Farm Thingy.{% endblock %}

{% block navbar %}
<li class="active"><a href="/">Home</a></li>
<li><a href="/fields">Fields</a></li>
<li><a href="/bins">Bins</a></li>
<li><a href="/market">Market</a></li>
{% endblock %}

{% block content %}
<img class="banner" src="/static/field.jpg"/>
<br /><br/>
<h2>Track profitability, monitor field rainfall, connect through the Marketplace, and so much more..</h2>

<p>FarmSpot is a cloud service like no other. Using live data, geolocation services, and open federal data, the sky is the limit. You can use easily manage your farm operations on the field or at the office using our mobile-friendly implementations, or connect with farmers and brokers through the intuitive marketplace.</p>
{% endblock %}



