{% extends "base.html" %}

{% block title %}FarmSpot - CODE 2014{% endblock %}

{% block navbar %}
<li><a href="/">Home</a></li>
<li><a href="/fields">Fields</a></li>
<li><a href="/bins">Bins</a></li>
<li class="active"><a href="/market">Market</a></li>
<li><a href="/contract">Contract</a></li>
<li><a href="/history">Price History</a></li>
{% endblock %}

{% block content %}



<h2>Welcome to the MarketPlace!</h2>
<p>Browse available produce on the marketplace or post your own! The market is waiting for you.</p>

<br />

<!-- New Listing Button -->
<button type="button" class="btn btn-default" onclick="document.location.href = '/market/new';">
    <span class="glyphicon glyphicon-plus"></span>Post Listing
</button>

<!-- Edit Listings Button -->
{% if edits > 0 %}
    <button type="button" class="btn btn-default" onclick="document.location.href = '/market/user';">
        <span class="glyphicon glyphicon-pencil"></span>Your Listings
    </button>
{% endif %}

<!-- Search Dropdown -->
<form id="searchForm" class="btn-group">
    <input class="span2" id="search_page" name="page" type="hidden" value="1"/>
    <input class="span2" id="search_type" name="crop" type="hidden">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-search"></span>
        {% if crop %}
        {% for crop_type in crop_types %}
        {% if crop == crop_type.name %}
        {{ crop_type.label }}
        {% endif %}
        {% endfor %}
        {% else %}
        Search Public Listings
        {% endif %}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for crop_type in crop_types %}
        <li><a href="#" onclick="$('#search_type').val('{{ crop_type.name }}'); $('#searchForm').submit();">{{ crop_type.label }}</a></li>
        {% endfor %}
    </ul>
</form>


<br /><br />

<!-- Prev / Next  -->
<div class="prev_next">
    {% if page and page > 1 and offer_count > 10 %}
    <form id="prevForm" method="get">
        <input class="span2" id="search_type" name="crop" type="hidden" value="{{crop}}">
        <input class="span2" id="search_page" name="page" type="hidden" value="{{page-1}}" />
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>Prev
        </button>
    </form>
    {% endif %}
    {% if page and page <= offer_count - (page*10) and offer_count > 10 %}
    <form id="nextForm" method="get">
        <input class="span2" id="search_type" name="crop" type="hidden" value="{{crop}}">
        <input class="span2" id="search_page" name="page" type="hidden" value="{{page+1}}" />
        <button type="submit" class="btn btn-default">
            Next<span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </form>
    {% endif %}
</div>

<!-- List Offers -->
{% for offer in offers %}
    <div class="panel panel-primary">
        {% for crop_type in crop_types %}
        {% if crop_type.name == offer.crop %}
        <h3>{{ crop_type.label }}</h3>
        {% endif %}
        {% endfor %}
        
        <p>Tonnes: {{offer.tonnes}}</p>
        <p>User: {{offer.user}}</p>
        <p>Price: {{offer.price}}</p>
        <p>Province: {{offer.province}}</p>
        <button onclick="alert('Contact User');">Contact</button>
    </div>
{% endfor %}



{% endblock %}



