{% extends "base.html" %}

{% block title %}FarmSpot - CODE 2014{% endblock %}

{% block navbar %}
<li><a href="/">Home</a></li>
<li><a href="/fields">Fields</a></li>
<li><a href="/bins">Bins</a></li>
<li class="active"><a href="/market">Market</a></li>
<li><a href="/harvests">Harvests</a></li>
<li><a href="/contract">Contract</a></li>
<li><a href="/history">Price History</a></li>
{% endblock %}

{% block content %}

<h2>Welcome to the MarketPlace!</h2>

<form method="post" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.crop.label }}
        {{ form.crop(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.tonnes.label }}
        <div class="input-group">
            {{ form.tonnes(class_='form-control') }}
            <span class="input-group-addon">tonnes</span>
        </div>
    </div>
    <div class="form-group">
        {{ form.user.label }}
        {{ form.user(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.price.label }}
        <h5 class="market_price"></h5>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            {{ form.price(class_='form-control') }}
        </div>
        
    </div>
    <button type="submit" value="confirm" class="btn btn-primary">Submit</button>
</form>

<script>
    function predictPrice() {
        $.getJSON($SCRIPT_ROOT + "/api/_marketprice", {
            crop: $('#crop').val(),
            province: 'Alberta' //TODO ::  Not just Alberta
        }, function (data) {
            if ($("#tonnes").val() == "")
                $(".market_price").html("");
            else {
                var amount = (data['value'] * $("#tonnes").val()).toFixed(2);
                $(".market_price").html("Market price is: $ " + data['value'] + "/tonne. Suggested cost is $" + amount);
            }
        });
        return false;
    };
    $("#tonnes").bind("change", predictPrice);
    $("#crop").bind("change", predictPrice);
</script>



{% endblock %}



