{% extends "base.html" %}

{% block title %}FarmSpot - CODE 2014{% endblock %}

{% block navbar %}
<li><a href="/">Home</a></li>
<li><a href="/fields">Fields</a></li>
<li><a href="/bins">Bins</a></li>
<li class="active"><a href="/market">Market</a></li>
<li><a href="/contract">Contact</a></li>
{% endblock %}

{% block content %}

<h2>Welcome to the MarketPlace!</h2>

<form method="post" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.crop.label }}
        {{ form.crop(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.tonnes.label }}
        {{ form.tonnes(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.user.label }}
        {{ form.user(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.price.label }}
        <h5 class="market_price">Market price is: </h5>
        {{ form.price(class_='form-control') }}
    </div>
    <button type="submit" value="confirm" class="btn btn-primary">Submit</button>
</form>

<script>
    $("#tonnes").bind("change", function () {
        $.getJSON($SCRIPT_ROOT + "/api/_marketprice", {
            crop: $('#crop').val(),
            amount: $('#tonnes').val(),
            province: 'Alberta' //TODO ::  Not just Alberta
        }, function (data) {
            console.log(data);
        });
        return false;
    });
</script>



{% endblock %}



