{% extends "base.html" %}

{% block title %}FarmSpot - CODE 2014{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

<script type="text/javascript">

    var csrftoken = "{{ csrf_token() }}"

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })

    function deleteOffer(offer_id) {
        $.ajax({
            url: '/marketplace/_delete/' + offer_id,
            type: 'DELETE',
            success: function (result) {
                $('#' + offer_id).slideUp("normal", 
                    function () {
                        $(this).remove();
                    });
            }
        });
    }

</script>

<h1>Your Marketplace Listings</h1>

<!-- List Offers -->
{% for offer in offers %}
<div id="{{ offer._id }}" class="panel panel-primary">
    {% for crop_type in crop_types %}
    {% if crop_type.name == offer.crop %}
    <h3>{{ crop_type.label }}</h3>
    {% endif %}
    {% endfor %}

    <p>Tonnes: {{offer.tonnes}}</p>
    <p>User: {{offer.user}}</p>
    <p>Price: {{offer.price}}</p>
    
    <button class="btn btn-danger" onclick="deleteOffer('{{ offer._id }}')">Delete</button>
</div>
{% endfor %}

{% endblock %}



