{% extends "base.html" %}

{% block title %}FarmSpot - CODE 2014{% endblock %}

{% block content %}

<script>$("#nav-market").addClass("active");</script>

<h2>{% trans %}Welcome to the MarketPlace{% endtrans %}!</h2>
<p>{% trans %}Browse available produce on the marketplace or post your own! The market is waiting for you{% endtrans %}.</p>

<br />

<!-- New Listing Button -->
<button type="button" class="btn btn-default" onclick="document.location.href = '/market/new';">
    <span class="glyphicon glyphicon-plus"></span>    {% trans %}Post Listing{% endtrans %}
</button>

<!-- Edit Listings Button -->
{% if edits > 0 %}
    <button type="button" class="btn btn-default" onclick="document.location.href = '/market/user';">
        <span class="glyphicon glyphicon-pencil"></span>    {% trans %}Your Listings{% endtrans %}
    </button>
{% endif %}

<!-- Search Dropdown -->
<form id="searchForm" class="btn-group">
    <input class="span2" id="search_page" name="page" type="hidden" value="1"/>
    <input class="span2" id="search_type" name="crop" type="hidden">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-search"></span>
        {% if crop %}
        {% for crop_type in crop_types %}
        {% if crop == crop_type.name %}
        {{ crop_type.label }}
        {% endif %}
        {% endfor %}
        {% else %}
        {% trans %}Search Public Listings{% endtrans %}
        {% endif %}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for crop_type in crop_types %}
        <li><a href="#" onclick="$('#search_type').val('{{ crop_type.name }}'); $('#searchForm').submit();">{{ crop_type.label }}</a></li>
        {% endfor %}
    </ul>
</form>


<br /><br />

<!-- Prev / Next  -->
<div class="prev_next">
    {% if page and page > 1 and offer_count > 10 %}
    <form id="prevForm" method="get">
        <input class="span2" id="search_type" name="crop" type="hidden" value="{{crop}}">
        <input class="span2" id="search_page" name="page" type="hidden" value="{{page-1}}" />
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>{% trans %}Prev{% endtrans %}
        </button>
    </form>
    {% endif %}
    {% if page and page <= offer_count - (page*10) and offer_count > 10 %}
    <form id="nextForm" method="get">
        <input class="span2" id="search_type" name="crop" type="hidden" value="{{crop}}">
        <input class="span2" id="search_page" name="page" type="hidden" value="{{page+1}}" />
        <button type="submit" class="btn btn-default">
            {% trans %}Next{% endtrans %}<span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </form>
    {% endif %}
</div>

<!-- List Offers -->
<div class="clearfix"></div>
{% for offer in offers %}
<div class="col-lg-6" style="padding-left:0px;">
    <div class="panel panel-success">
        {% for crop_type in crop_types %}
        {% if crop_type.name == offer.crop %}
        <div class="panel-heading"><b>{{ crop_type.label }}</b></div>
        {% endif %}
        {% endfor %}
        <div class="panel-body">
            <button style="float: right; padding: 1px 12px;" class="btn btn-default btn-info" onclick="alert('Contact User');">Contact</button>
            <p><b>{% trans %}Tonnes{% endtrans %}:</b> {{offer.tonnes}}</p>
            <p><b>{% trans %}User{% endtrans %}:</b> {{offer.user}}</p>
            <p><b>{% trans %}Price{% endtrans %}:</b> ${{offer.price}}</p>
            <p><b>{% trans %}Province{% endtrans %}:</b> {{offer.province}}</p>
        </div>
    </div>
</div>
{% endfor %}
<div class="clearfix"></div>


<!-- Reset Button -->
<form id="saveForm">
    <input id="reset_page" name="reset" type="hidden" />
    <button type="submit" style="float:right;" class="btn btn-info btn-sml"><span class="glyphicon glyphicon-refresh"></span>  {% trans %}Reset Demo Table{% endtrans %}</button>
</form>


{% endblock %}



