{% extends "base.html" %}

{% block title %}FarmSpot - CODE 2014{% endblock %}

{% block content %}

<script>$("#nav-market").addClass("active");</script>

<script type="text/javascript">

    var csrftoken = "{{ csrf_token() }}"

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })

    function deleteOffer(offer_id) {
        $.ajax({
            url: '/marketplace/_delete/' + offer_id,
            type: 'DELETE',
            success: function (result) {
                $('#' + offer_id).slideUp("normal", 
                    function () {
                        $(this).remove();
                    });
            }
        });
    }

</script>

<h2>Your Marketplace Listings</h2>
<p>These are the listings you have put on the MarketPlace! You can easily delete existing objects or add new ones from the marketplace.</p>
<!-- <p>Ce sont les annonces que vous avez mis sur le MarketPlace! Vous pouvez facilement supprimer des objets existants ou en ajouter de nouvelles du marché.</p> -->

<!-- List Offers -->
{% for offer in offers %}

<div class="col-lg-6" style="padding-left:0px;">
    <div class="panel panel-success">
        <div class="panel-heading">
        <b>
            {% for crop_type in crop_types %}
            {% if crop_type.name == offer.crop %}
                <p><b>Crop:</b> {{ crop_type.label }}</p>
            {% endif %}
            {% endfor %}
        </b></div>
        <div class="panel-body">
            <button style="float:right;" class="btn btn-danger" onclick="deleteOffer('{{ offer._id }}')">Delete</button>
            <p><b>Tonnes:</b> {{offer.tonnes}}</p>
            <p><b>Price:</b> {{offer.price}}</p>
        </div>
    </div>
</div>


{% endfor %}

{% endblock %}



