{% extends "base.html" %}

{% block title %}FarmSpot - CODE 2014{% endblock %}

{% block content %}

<script>$("#nav-market").addClass("active");</script>

<h2>{% trans %}Welcome to the MarketPlace{% endtrans %}!</h2>

<form method="post" role="form" class="form-horizontal">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.crop.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.crop(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        {{ form.tonnes.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            <div class="input-group">
                {{ form.tonnes(class_='form-control') }}
                <span class="input-group-addon">{% trans %}tonnes{% endtrans %}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form.user.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.user(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        {{ form.price.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            <h5 class="market_price"></h5>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                {{ form.price(class_='form-control') }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            <button type="submit" value="confirm" class="btn btn-primary" style="float:right">{% trans %}Submit{% endtrans %}</button>
        </div>
    </div>
    <div class="clearfix"></div>
</form>

<script>
    function predictPrice() {
        $.getJSON($SCRIPT_ROOT + "/api/_marketprice", {
            crop: $('#crop').val(),
            province: 'Alberta' //TODO ::  Not just Alberta
        }, function (data) {
            console.log(data)
            if ($.isEmptyObject(data))
                $(".market_price").html("No market data.");
            else if ($("#tonnes").val() == "")
                $(".market_price").html("Market price is: $ " + data['value'] + " per tonne.");
            else {
                var amount = (data['value'] * $("#tonnes").val()).toFixed(2);
                $(".market_price").html("Market price is: $ " + data['value'] + " per tonne. Suggested cost is $" + amount);
            }
        });
        return false;
    };
    $(".market_price").html("Market price is: ${{ price.value }} per tonne.");
    $("#tonnes").bind("change", predictPrice);
    $("#crop").bind("change", predictPrice);
    $("#user").val('{{ user.province }} {{ user.user }}')
</script>



{% endblock %}



