{% extends "base.html" %}

{% block title %}FarmSpot - Edit {{form.name.data}}{% endblock %}

{% block content %}

<script>$("#nav-fields").addClass("active");</script>

<!-- Delete Button -->
<form method="post" role="form" onsubmit="return confim('Are you sure you want to delete this field? It cannot be undone.')">
    {{ form_delete.hidden_tag() }}
    <button type="submit" value="delete" class="btn btn-primary btn-danger" style="float:right;">{% trans %}Delete{% endtrans %}</button>
</form>

<h1>Section {{ form.name.data }} <small>{% trans %}Edit{% endtrans %}</small></h1>
<form method="post" role="form" class="form-horizontal">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.name(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        {{ form.crop.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.crop(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        {{ form.acres.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-6">
            {{ form.acres(class_='form-control') }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            <button type="submit" value="confirm" class="btn btn-primary" style="float:right">{% trans %}Submit{% endtrans %}</button>
        </div>
    </div>
    <div class="clearfix"></div>
</form>
<p><a href='/field/{{ field_id }}/'>{% trans %}Go Back{% endtrans %}</a></p>

{% endblock %}
