{% extends "base.html" %}

{% block title %}Section {{ section.name }}{% endblock %}

{% block content %}

<script>$("#nav-fields").addClass("active");</script>

<div class='page-header'>
    <h1>Section {{ section.name }} <small>Details</small></h1>
</div>
<h3><a href="edit">Edit</a></h3>
<div id="mapview" style="height: 400px;"></div>

<script>
var geo = {{field.geo|safe or []}};

if (geo) {
	$( document ).ready(function() {
		// create a map in the "map" div, set the view to a given place and zoom
		var map = L.map('mapview').setView([53, -100], 4);

		// add an OpenStreetMap tile layer
		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);
		
		L.geoJson(geo).addTo(map);
	});
	
	
}

</script>
<ul>
    <li>Crop: {{ section.crop.title() }}</li>
    <li>Acres: {{ section.acres }}</li>
</ul>
<form method="post" role="form" onsubmit="return confim('Are you sure you want to delete this field? It cannot be undone.')">
    {{ form.hidden_tag() }}
    <button type="submit" value="confirm" class="btn btn-primary">Delete</button>
</form>
<br />
<a href="/field/{{ field._id }}">Back to your field</a>
{% endblock %}
