@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
body {
	font-family: 'Source Sans Pro', sans-serif;
    padding-top: 50px;
    background: url(bg_satinweave.png) repeat;
}
h1{
	font-weight: bold;
}
h5 {
    color:red;
}
p {
    font-size: 16px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.market_item {
    padding:2px;
}
.market_head {
    background-color: #faf59c;
}
.navbar {
	background: #020;
}

.navbar a{
	color: #6b3;
}

.nav>li.active{
	background: #040;
}
.nav>li.active a{
		color: #fff;
}
	
.nav>li>a:hover{
		color: #ff0;
		background: none;
}

.banner {
    max-width: 100%;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.clearfix:after {
	content:".";
	visibility:hidden;
	display:block;
	height:0;
	clear:both;
}
